/* INDEX PAGE CSS */
#banner {
    background-color: purple;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-size: 2vw;;
}
#backgroundImage {
    background-image: url("placeholderBackground.png");
    filter: blur(5px);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    position: relative;
}
#menuBox {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    text-align: center;
    font-size: 5vw;

}
a:link {
    color: white;
    /* font-size: 25px; */
}
a:visited {
    color: white;
    /* font-size: 25px; */
}
a:hover {
    color: white;
    font-size: 2em;
}
a:active {
    color: white;
    /* font-size: 25px; */
}

/* body {
    background-image: url("placeholderBackground.png");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

} */

/* FORM PAGE */
#banner {
    background-color: purple;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-size: 2vw;
    margin-bottom: 10px;
}
#foodsMenu {
    background-color: aqua;
    color: black;
    text-align: center;
    width: 75vw;
    height: 60vw;
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
}
#allergyMenu {
    background-color: red;
    width: 85vw;
    height: 30vw;
    margin: auto;
    padding: 10px;
}
#ratingTable {
    margin: auto;
    width: 75vw;
}
/* #foodColumn {

}
#ratingColumn {

} */
#alert {
    padding: 15px;
}
#submit {
    margin: auto;
    text-align: center;
    margin-top: 10px;
}

/* RESULT PAGE CSS */
#banner {
    background-color: purple;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-size: 2vw;
    margin-bottom: 10px;
}
#resultPending {
    text-align: center;
    color: red;
}